#app {
  height: 100%;
  width: 400px;

  padding: 15px;

  display: flex;
  flex-direction: column;

  background-color: #b4b4b4;
}

#task-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#task-list > li {
  display: flex;

  font-size: 1.4em;
  padding: 10px 0;
}

#task-list > li > input[type=checkbox] {
  -ms-transform: scale(1.4); /* IE */
  -moz-transform: scale(1.4); /* FF */
  -webkit-transform: scale(1.4); /* Safari and Chrome */
  -o-transform: scale(1.4); /* Opera */
  transform: scale(1.4);
  margin: 0.5em 0.8em;
}

#task-list > li > p {
  margin: 0;
}

.finished {
  text-decoration:line-through;
}